body {
    background-color: rgba(251, 253, 255, 1);
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}
/* ----- img ----- */
.img {
    transition: transform 2s;
}
.img:hover {
    transform: rotate(-35deg);
    transition: transform 2s;
    cursor: pointer;
}
.img img {
    max-width: 100%;
}
@media (max-width: 991.98px) {
    .img {
        margin-top: 3%;
    }
}
@media (max-width: 767.98px) {
    .img {
        margin-top: 7%;
        max-width: 40%;
    }
}
@media (max-width: 479.98px) {
    .img {
        margin-top: 10%;
    }
}
/* ----- title ----- */
.title {
    display: block;
    margin-top: 3%;
    text-align: center;
    color: rgba(107, 104, 236, 1);
    font-weight: 800;
    font-size: 95px;
    line-height: 125px;
}
@media (max-width: 991.98px) {
    .title {
        font-size: 70px;
        line-height: 100px;
    }
}
@media (max-width: 767.98px) {
    .title {
        margin-top: 5%;
        font-size: 62px;
    }
}
@media (max-width: 479.98px) {
    .title {
        margin-top: 10%;
        font-size: 58px;
    }
}
/* ----- wrapper__text ----- */
.wrapper__text {
    margin: 2.3% 0;
}
@media (max-width: 991.98px) {
    .wrapper__text {
        margin: 2.2% 15%;
    }
}
@media (max-width: 767.98px) {
    .wrapper__text {
        margin: 2% 8%;
    }
}
/* ----- text ----- */
.text {
    padding-bottom: .5%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #484855;
}
@media (max-width: 767.98px) {
    .text {
        font-size: 20px;
    }
}
@media (max-width: 479.98px) {
    .text {
        font-size: 17px;
        line-height: 25px;
    }
}
/* ----- wrapper__link ----- */
.wrapper__link {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1199.98px) {
    .wrapper__link {
        margin: 4% 0;
    }
}
@media (max-width: 991.98px) {
    .wrapper__link {
        margin: 2% 0;
    }
}
@media (max-width: 767.98px) {
    .wrapper__link {
        margin: 7% 0;
    }
}
@media (max-width: 479.98px) {
    .wrapper__link {
        margin: 5% 0;
    }
}
/* ----- link ----- */
.link {
    display: inline-block;
    padding: 30px 0;
    width: 363px;
    text-decoration: none;
    border-radius: 30px;
    background-color: #1C1C25;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    transition: all 1s;
}
.link:hover {
    cursor: pointer;
    transform: scale(.9);
    transition: all 1s;
}
.link:active {
    text-decoration: underline;
}
@media (max-width: 767.98px) {
    .link {
        font-size: 16px;
        padding: 30px 0;
        width: 300px;
    }
}
@media (max-width: 479.98px) {
    .link {
        margin-top: 10%;
        font-size: 14px;
        padding: 25px 0;
        width: 280px;
    }
}